<div class="container m-4">
    <div class="m-4">
    <input
    (keyup.enter)="createPost(title)" #title
     type="text" 
     placeholder="input new post"
    class="form-control">
    </div>
    <ul class="list-group">
        <li *ngFor="let Posts of post" class="list-group-item">
             <button 
             (click)="updatePost(post)"
             class="btn btn-primary btn-sm">Update</button>
             <button 
             (click)="deletePost(post)"
             class="btn btn-success btn-sm">Delete</button>
               {{ Posts.title }}
        </li>
    </ul>
</div>
